<div ng-controller="MainController">


    <div class="my-navbar navbar-light">
        <a class="navbar-brand" href="#">SocketChat</a>
        <form class="my-navform ">
            <button class="btn btn-danger button-logout" ng-click="logout()">Logout</button>
        </form>

    </div>
    <div class="col-md-2">
        <div class="row">

            <div class="btn-group-vertical contact" role="group" aria-label="...">
                <span ng-show="isEmptyContactsList()">No users online</span>
                <button type="button" class="btn btn-default contact"
                        ng-repeat="contact in contacts()"
                        ng-class="{'active': activeButton === $index, '': activeButton !== $index}"
                        ng-click="setActive(contact, $index)">{{contact.login}}
                </button>
            </div>

        </div>
    </div>

    <div class="col-md-10 chat-section">
        <div class="row">
            <div class="chat-pane">Welcome to Socket Chat, {{name}}!

                <div class="row" ng-repeat="message in messages" ng-style="">
                    <div class="col-md-4 chat-entry"> <{{message.time | date : "dd.MM.yy HH:mm:ss"}}>{{message.sender}}:
                    </div>
                    <div class="col-md-8 chat-entry">{{message.content}}</div>
                    </divrow>

                </div>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Message" ng-model="content">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" ng-click="sendMessage(content)">Send</button>
        </span>
            </div>


        </div>
    </div>
</div>